html {
    display: auto;
}
body {
    font-family: sans-serif;
    text-decoration-color: #0A1612;
    margin: 0;
    background-color: #F0F8FF;
}

header {
    text-align: center;
    background-color: #333;
    color: #ddd;
    padding-left: 0;
    padding-right: 0;
    display: auto;
}
ul {
    list-style-type: upper-alpha;
}
li {
    border: 1px;
    margin: 3px;
    padding-left: 5px;
}
li:hover {
    background-color: yellow;
}
.btn-lg {
    margin-left: 15%;
    margin-top: 75%;
}
.card {
    font-size: 16px;
    border: solid #0A1612;
    background-color: white;
    box-shadow: 6px 6px 8px #777;
    margin-top: 5%;
    margin-left: 35%;
    padding-top: 15px;
    padding-bottom: 15px;
}
.stats {
    font-size: 32px;
}
.correct {
    background-color: #49fb35;
}
.wrong {
    color: red;
    text-decoration: line-through;
}
#word {
    font-size: 24px;
    text-align: center;
}
#pos {
    text-align: center;
    text-decoration-style:
}
#correct {
    float: left;
    color: green;
}
#incorrect {
    color: red;
}
#percent {
}

@media screen and (max-width: 768px) {

.btn-lg {
    margin-top: 20px;
    margin-left: 44%;
}

.card {
    margin-top: 10%;
    margin-left: auto;
}


}