h1,p {
    text-align: center;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
ul {
    height: 100px;
}
.wrapper {
    height: 100%;
    width: 80%;
}
.card {
    border: 5px solid;
    width: 500px;
    height: 200px;
    margin-left: 30%;
}
#button {

}