h1,p {
    text-align: center;
}
body {
    height: 100%;
    margin: 0;
    padding: 20px 100px;
}
ul {
    height: 100px;
    list-style-type: upper-alpha;
}
ul li {
    border: solid;
    margin: 5px;
}
li:hover {
    background-color: yellow;
}
.wrapper {
    height: 100%;
    width: 80%;
}
.card {
    border: 5px solid;
    width: 500px;
    height: 300px;
    margin-left: 30%;
}
#button {

}
#count {
    float: right;
}